{% extends 'base.html.twig' %}

{% block title %}Logo Removed - Habesha Tools{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Logo Removed Successfully!</h1>
                    
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">Original Image</div>
                                <div class="card-body p-0">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-fluid" alt="Original image">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">Processed Image</div>
                                <div class="card-body p-0">
                                    <img src="{{ asset('uploads/images/' ~ image.resultImageName) }}" class="img-fluid" alt="Processed image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_logo_remover') }}" class="btn btn-secondary">Process Another Image</a>
                        <a href="{{ asset('uploads/images/' ~ image.resultImageName) }}" class="btn btn-primary" download>Download Result</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 